<!DOCTYPE html>
<html lang="en" ng-app="ims-web" ng-controller="loginController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <!-- scrips -->
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <!-- <script src="js/angular-ui-router.min.js"></script> -->
    <script src="../scripts/app.js"></script>
    <!-- <script src="scripts/routes/routes.js"></script> -->
    <script src="../scripts/login/loginController.js"></script>
    <script src="../scripts/login/loginFactory.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="login">
        <div class="row">
            <div class="col-sm-1 col-md-4"></div>
            <div class="col-sm-12 col-md-4">
                <form>
                    <div class="card border-primary login-card">
                        <div class="card-body text-primary">
                            <h5 class="card-title">Login</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" aria-describedby="username"
                                    placeholder="Enter Username" ng-model="username" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" aria-describedby="password"
                                    placeholder="Enter password" ng-model="password" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" ng-click=authenticateUser()>Login</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-1 col-md-4"></div>
        </div>

    </div>
</body>

</html>